@import "./packageCard";

.react-multiple-carousel__arrow--right {
  display: none;
}
.react-multiple-carousel__arrow--left {
  display: none;
}

.health-packages-comp {
  position: relative;
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
  height: max-content;
  .content {
    width: 1284.5px;
    padding: 0 45px;
    height: max-content;
    .heading-wrapper {
      .quote {
        color: #159eec;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .heading {
        margin-bottom: 42px;
        color: #1f2b6c;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
    .health-packs-carousel {
      height: 100%;
      .custom-dot-list-style {
        position: absolute;
      }
      .custom-dot-list-style {
        overflow: visible;
        position: absolute;
        bottom: -0.8em;
      }
      .custom-dot {
        cursor: pointer;
        margin: 0 5px;
        font-size: 35px;
        color: $primaryAccentBlue;
      }
      .active-dot {
        color: $primaryDarkBlue;
      }
    }
    @media screen and (max-width: 550px) {
      .health-packs-carousel {
        .custom-dot-list-style {
          bottom: 0.5em;
        }
        .custom-dot {
          width: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 1285px) {
    .content {
      width: 100%;
    }
  }
}
@media screen and (max-width: 550px) {
  .health-packages-comp {
    margin-top: 60px;
    .content {
      padding: 0 16px;
      .heading-wrapper {
        .quote {
          font-size: 20px;
        }
        .heading {
          font-size: 27px;
        }
      }
    }
  }
}
