@keyframes videoBlinkActive {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 100;
  }
}
@keyframes videoBlinkInactive {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 100;
  }
}

.health-care-outer {
  width: 100%;
  .health-care-videos {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1284.5px;
      padding: 0 45px;
      .heading-wrapper {
        .quote {
          text-align: center;
          color: $primarySkyBlue;
          font-size: 22px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: center;
        }
      }
      .heading {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
        color: $primaryDarkBlue;
      }
      .videos-wrapper {
        margin-top: 2em;
        width: 100%;
        border-radius: 10px;
        display: flex;
        gap: 1em;
        overflow: hidden;
        .card-card {
          position: relative;
          background-color: grey;
          position: relative;
          .top-over-lay {
            height: 100%;
            width: 100%;
            z-index: 2;
            background-color: transparent;
            position: absolute;
          }
          .title {
            position: absolute;
            width: 164.04904174804688px;
            top: 40px;
            left: 36.65899658203125px;
            color: #ffffff;
            font-size: 30px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0.30000001192092896px;
            text-align: left;
          }
          .post-date-views-wrapper {
            position: absolute;
            top: 317px;
            left: 36.65899658203125px;

            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #ffffff;
            display: flex;
            gap: 10px;
          }
          .video-duration {
            position: absolute;
            width: 34.51947021484375px;
            height: 10px;
            top: 331px;
            right: 2em;
            font-size: 10px;
            font-weight: 500;
            line-height: 10px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #ffffff;
          }
        }
        .video-card {
          overflow: hidden;
          cursor: pointer;
          border-radius: 10px;
          width: 25%;
          animation-name: videoBlinkInactive;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        }
        .active-video-card {
          overflow: hidden;
          cursor: pointer;
          border-radius: 10px;
          opacity: 1;
          width: 50%;
          animation-name: videoBlinkActive;
          animation-duration: 0.5s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        }
      }
      @media screen and (max-width: 750px) {
        .videos-wrapper {
          display: none;
        }
      }
      .mobile-video {
        width: 100%;
        margin-top: 1.2em;
        border-radius: 10px !important;
        overflow: hidden;
        display: flex;
        align-items: center;
        .mobile-react-player {
          width: 100% !important;
          border-radius: 10px !important;
          height: 360px !important;
        }
        @media screen and (max-width: 618px) {
          .mobile-react-player {
            width: 100% !important;
            border-radius: 10px !important;
            height: 320px !important;
          }
        }
        @media screen and (max-width: 540px) {
          .mobile-react-player {
            width: 100% !important;
            border-radius: 10px !important;
            height: 290px !important;
          }
        }
        @media screen and (max-width: 440px) {
          .mobile-react-player {
            width: 100% !important;
            border-radius: 10px !important;
            height: 250px !important;
          }
        }
        @media screen and (max-width: 400px) {
          .mobile-react-player {
            width: 100% !important;
            border-radius: 10px !important;
            height: 210px !important;
          }
        }
      }
      @media screen and (min-width: 750px) {
        .mobile-video {
          display: none;
        }
      }
      .see-more-btn {
        margin-top: 42px;
        height: 45px;
        padding: 13px 35px 13px 35px;
        border-radius: 50px;
        gap: 10px;
        font-size: 16px;
        color: $primaryDarkBlue;
        background: #bfd2f8;
        text-transform: capitalize;
      }
    }
    @media screen and (max-width: 1285px) {
      .content {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .health-care-videos {
      margin-top: 0px;
      .content {
        padding: 0 16px;
        .heading {
          font-size: 27px !important;
          line-height: 32px;
        }
      }
    }
  }
  // ------------overlay--------------
  .video-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.5s;
  }
  .video-wrapper {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 940px;
    height: 560px;
    padding: 0 1em;
    // height: max-content;
    // width: max-content;
    background-color: transparent;

    .close-icon {
      path {
        fill: #fff;
      }
      position: absolute;
      width: 32px;
      height: 32px;
      top: 1.7em;
      right: 0.8em;
      cursor: pointer;
    }
    .play-icon {
      path {
        fill: #fff;
      }
      position: absolute;
      cursor: pointer;
      width: 37.91863250732422px;
      height: 37.9566650390625px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 940px) {
    .video-wrapper {
      width: 100%;
    }
  }
  
 
}
// ---------end of overlay-----------
