.hi-buttons-comp {
  margin-top: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
  .btns-wrapper {
    display: flex;
    gap: 24.8px;
    width: 1284.5px;
    padding: 0 45px;
    .hi-btn {

      display: flex;
      gap: 10px;
      background: #bfd2f8;
      box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 10px;
      width: 280.816px;
      height: 89px;
      .btn-icon {
        width: 50.0010871887207px;
        height: 49.60615158081055px;
      }
      .btn-text {
        text-transform: capitalize;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
        color: $primaryRavenBlack;
      }
    }
    .hi-btn:hover {
      background-color: $primaryDarkBlue;
      .btn-icon {
        path {
          fill: $primaryYellow;
        }
      }
      .btn-text {
        color: $primaryYellow;
      }
    }
  }
  @media screen and (max-width: 1285px) {
    .btns-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      .hi-btn {
        width: auto;
      }
    }
  }
  @media screen and (max-width: 1145px) {
    .btns-wrapper {
      .hi-btn {
        height: 75px;
      }
    }
  }
  @media screen and (max-width: 965px) {
    .btns-wrapper {
      .hi-btn {
        height: 70px;
        .btn-icon {
          width: 30px;
          height: 30px;
        }
        .btn-text {
          font-size: 13px;
        }
      }
    }
  }
  @media screen and (max-width: 830px) {
    .btns-wrapper {
      gap: 15px;
      .hi-btn {
        height: 60px;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .btns-wrapper {
      gap: 15px;
      padding: 0 16px;
      .hi-btn {
        height: 50px;
        .btn-icon {
          width: 25px;
          height: 25px;
        }
        .btn-text {
          font-size: 10px;
        }
      }
    }
  }
}
