.home-silder-comp {
  position: relative;
  width: 100%;
  // height: 578px;
  display: flex;
  background-color: rgb(253, 251, 247);

  // .slider-view {
  //   width: 100%;
  //   height: 100%;
  // .slider-img {
  //   background-color: green;
  //   width: 100vw;
  //   height: 100%;
  // }
  // }
  // .slide-btns-wrapper {
  //   position: absolute;
  //   z-index: 1;
  //   bottom: 1em;
  //   left: 50%;
  //   transform: translate(-50%);
  //   display: flex;
  //   gap: 0.6em;
  //   .slide-btn {
  //     cursor: pointer;
  //     width: 18px;
  //     height: 18px;
  //     border-radius: 50px;
  //     background: #1f2b6c;
  //   }
  //   .active-slide-btn {
  //     background: #bfd2f8;
  //   }
  // }
}

.react-responsive-carousel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // height: 578px;
  .slider-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 578px;
  }
  .dots-indicator {
    margin-top: -2em;
    z-index: 99;
    display: flex !important;
    justify-content: center;
    gap: 10px;
    // margin: 0 5px;
    // width: 18px;
    // height: 18px;
    // border-radius: 50px;
    // display: inline-block;
    list-style-type: none;
    li {
      width: 18px;
      height: 18px;
      border-radius: 50px;
      display: inline-block;
      background-color: $primaryAccentBlue;
      button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: transparent;
        border: none;
      }
    }
    li.carousel-dots-active {
      background-color: $primaryDarkBlue;
    }
  }
  @media screen and (max-width: 450px) {
    .dots-indicator {
      li {
        width: 14px;
        height: 14px;
      }
    }
  }
}
