@import "./homeSlider";
@import "./hiCategories/hiCategories";
@import "./clinicalExcellence";
@import "./healthPackages/healthPackages";
@import "./inboundSection/inboundSection";
@import "./outboundSection/outboundSection";
@import "./messageFromDirector";
@import "./ourAcademics";
@import "./healthCareVideos";
@import "./news/news";
@import "./getInTouch";
@import "./ourCompanies/ourCompanies";

.home-page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
