// --------------spinner----------------
.spinner-wrapper {
  display: flex;
  background-color: rgba(192, 192, 192, 0.082);
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // ----------------
  z-index: 999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .spinner {
    background-color: $primaryAccentBlue;
    color: transparent;
  }
}
// -----------spinner end----------------

.footer {
  // height: 427px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $primaryBlue;
  background-color: rgb(216, 230, 255);

  font-family: Roboto;
  .contents {
    // background-color: green;
    margin: 60px 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .columns-wrapper {
      // background-color: peru;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      gap: 20px;
      width: 1315px;
      // width: 1300px;

      padding: 0 45px;
      // .intro-column {
      //   display: flex;
      //   flex-direction: column;
      //   width: 345px;
      //   height: 150px;
      //   gap: 8px;
      //   .logo-name-wrapper {
      //     display: flex;
      //     gap: 8px;
      //     align-items: center;
      //   }
      //   .logo {
      //     width: 64px;
      //     height: 65px;
      //   }
      //   .name {
      //     color: #000;
      //     font-size: 20px;
      //     font-style: normal;
      //     font-weight: 600;
      //     line-height: normal;
      //     text-transform: uppercase;
      //     width: 201.163px;
      //   }
      //   .brief {
      //     width: 345px;
      //     // height: 157px;
      //     font-size: 12.75px;
      //     font-style: normal;
      //     font-weight: 400;
      //     line-height: normal;
      //     color: $rearBlack;
      //   }
      // }
      .links-column {
        // background-color: $primaryPeru;
        // max-width: 300px;
        // margin-right: 88px;
        display: flex;
        flex-direction: column;
        gap: 34px;
        padding: 1em 0;
        .title {
          font-size: 22px;
          // font-weight: 500;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
          // color: #fff;
          color: #000;
        }
        .list-wrapper {
          display: flex;
          flex-direction: column;
          gap: 13px;
          .list-item {
            cursor: pointer;
            font-size: 14px;
            // font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            // color: #fff;
            color: #000;
            &:hover {
              text-decoration: underline;
            }
          }
          .contact-list-item {
            cursor: pointer;
            font-size: 14px;
            // font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            // color: #fff;
            color: #000;
          }
        }
      }
      .contact-us-column {
        // width: 342px;
        height: 169px;
        .title {
          font-size: 22px;
          // font-weight: 500;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
        }
        .list-wrapper {
          margin-top: 34px;
          height: 109px;
          .contact-list {
            font-size: 14px;
            // font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $rearBlack;
            margin-top: 13px;
          }
        }
      }

      @media screen and (max-width: 440px) {
        .intro-column {
          width: 100% !important;
          .brief {
            width: 100%;
          }
        }
        .links-column {
          width: 100% !important;
        }
        .contact-us-column {
          width: 100% !important;
        }
      }
    }
    @media screen and (max-width: 1285px) {
      .columns-wrapper {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 10em;
      }
    }
    @media screen and (max-width: 1252px) {
      .columns-wrapper {
        column-gap: 20em;
      }
    }
    @media screen and (max-width: 1076px) {
      .columns-wrapper {
        column-gap: 15em;
      }
    }
    @media screen and (max-width: 1004px) {
      .columns-wrapper {
        column-gap: 10em;
      }
    }
    @media screen and (max-width: 912px) {
      .columns-wrapper {
        column-gap: 5em;
      }
    }
    @media screen and (max-width: 836px) {
      .columns-wrapper {
        column-gap: 3em;
      }
    }
    @media screen and (max-width: 800px) {
      .columns-wrapper {
        column-gap: 2em;
      }
    }
    @media screen and (max-width: 550px) {
      .columns-wrapper {
        padding: 0 16px;
      }
    }
    // .hr-line {
    //   margin: 2em 0px;
    //   width: 100%;
    //   color: #ffffff88;
    //   background-color: #ffffff88;
    //   height: 50px;
    // }
  }
  .bottom-row {
    border-top: 5px solid $primaryPeru;

    margin-top: 60px;
    // width: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #ffffff88;
    background-color: $primaryBlue;
    // height: 5em;

    .content {
      // background-color: $primaryBlue;
      // margin-top: 46px;
      // width: 1300px;
      // padding: 2.5em 45px;
      width: 1315px;
      // width: 1300px;

      padding: 1.9em 45px;
      display: flex;
      gap: 1em;
      justify-content: space-between;
      // justify-content: center;
      .copyright-text {
        display: flex;
        align-items: center;
        gap: 2.5em;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .social-icons-wrapper {
        display: flex;
        gap: 20px;
        .icon {
          border-radius: 50px;
          background-color: #fff;
          cursor: pointer;
          padding: 4px;
          width: 27px;
          height: 27px;
          color: $primaryBlue;
        }
      }
    }
  }
}
