.css-1eaqvnp-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  width: 220px;
  margin-left: -0.5em;
}
.MuiTooltip-tooltip {
  font-size: 13px !important;
  background-color: #fff !important;
  border: 1px solid silver;
  color: black !important;
}

// --------------------------------------------
.contact-drop {
  border: 1px solid #dadada;
  padding: 5px 8px;
  border-radius: 50px 50px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 3px 10px #e8e8e8;
  }

  .call-icon {
    background-color: #25d366;
    color: #fff;

    border-radius: 50%;
    padding: 7px;

    width: 35px;
    height: 35px;
  }
  .arrow-icon {
    width: 24px;
    height: 24px;
  }
}
// --------------------------------------------
.account-menu-wrapper {
  width: 300px;
  .profile-text {
    cursor: context-menu;
    font-size: 16px;
    .icon {
      border-radius: 50%;
      width: 21px;
      height: 21px;
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .content-item {
    display: flex;
    gap: 1em;
    cursor: context-menu;
    font-size: 16px;
    padding: 5px 1em;
    &:hover {
      background-color: rgb(241, 241, 241);
    }
    .icon {
      min-width: 20px;
      width: 20px;
      height: 20px;
      color: grey;
    }
    .text {
      word-break: break-all;
      font-size: 13px;
    }
  }
}