.p-card {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  .p-img {
    padding: 1em 2em;
    width: 170px;
    // filter: grayscale(100%);
    transition: transform 0.3s;
    &:hover {
      // filter: none;
      transform: scale(1.1);
    }
  }
  @media screen and (max-width: 850px) {
    .p-img {
      padding: 0em 2em;
    }
  }
}
@media screen and (max-width: 950px) {
  .p-card {
    .p-img {
    }
  }
}
@media screen and (max-width: 850px) {
  .p-card {
    .p-img {
    }
  }
}
@media screen and (max-width: 644px) {
  .p-card {
    // width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .p-card {
    .p-img {

      // padding: 0em 0em;
      // height: 50px;
      // width: 100px;
      // width: 200px;
    }
  }
}
@media screen and (max-width: 400px) {
  .p-card {
    height: 80px;
    .p-img {
    width: 180px;

      // height: 40px;
      // width: 160px;
    }
  }
}
