@import "./contentsColumn";
@import "./joinUsForm";

.career-page {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  align-items: center;
  margin-bottom: 50px;
  
  .r-wrapper {
    display: grid;
    grid-template-columns: 5fr 2.5fr;
    column-gap: 2.8em;
    margin: 80px 0;
    padding: 0 45px;
  }
  @media screen and (max-width: 1285px) {
    .r-wrapper {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 1060px) {
    .r-wrapper {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 630px) {
    .r-wrapper {
      padding: 0 16px;
      margin: 40px 0;
    }
  }
}
