.vacancy-card {
  padding: 2em;
  height: 150px;
  border: 1px solid #d5d6d6;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 1px #5353539e;
  .text-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 400;
    .wrap {
      .label {
        font-weight: 600;
      }
    }
    .position {
      color: $primaryDarkBlue;
      font-size: 30px;
    }
    .second-row {
      color: $primaryRavenBlack;
    }
  }
  .apply-now {
    margin-top: auto;
    text-transform: capitalize;
    background: #bfd2f8;
    width: 174px;
    height: 45px;
    padding: 13px 35px 13px 35px;
    border-radius: 50px;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: $primaryDarkBlue;
    &:hover {
      background: #bfd2f8;
      color: $primarySkyBlue;
    }
  }
}
@media screen and (max-width: 630px) {
  .vacancy-card {
    padding: 1em;
    height: 115px;
    .text-column {
      gap: 0.5em;
      font-weight: 400;
      .wrap {
        .label {
          font-weight: 600;
        }
      }
      .position {
        color: $primaryDarkBlue;
        font-size: 25px;
      }
      .second-row {
        color: $primaryRavenBlack;
      }
    }
    .apply-now {
      margin-top: auto;
      text-transform: capitalize;
      background: #bfd2f8;
      width: 174px;
      height: 45px;
      padding: 13px 35px 13px 35px;
      border-radius: 50px;
      gap: 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      text-align: left;
      color: $primaryDarkBlue;
      &:hover {
        background: #bfd2f8;
        color: $primarySkyBlue;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .vacancy-card {
    padding: 0.5em;
    height: 80.5px;
    .text-column {
      gap: 0.4em;
      font-weight: 300;
      .wrap {
        .label {
          font-weight: 500;
        }
      }
      .position {
        color: $primaryDarkBlue;
        font-size: 20px;
      }
      .second-row {
        color: $primaryRavenBlack;
        font-size: 13.5px;
      }
    }
    .apply-now {
      width: 135px;
      height: 40px;
      padding: 5px 10px 5px;
      font-size: 13px;
      line-height: 0px;
    }
  }
}

@media screen and (max-width: 450px) {
  .vacancy-card {
    flex-direction: column;
    gap: 0.5em;
    height: max-content !important;
    .apply-now {
      align-self: flex-end;
    }
  }
}