.carousel-card {
  //   display: flex;
  // justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  //   width: 100%;
  .news-card {
    cursor: pointer;

    background-color: #fff;
    // min-width: 486px;
    border-radius: 5px;
    // min-height: 154px;
    display: flex;
    gap: 20px;
    .card-img {
      width: 160px;
      height: 100%;
    }
    .text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .dates {
        text-align: left;
        color: $primarySkyBlue;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .news-text {
        text-align: left;
        margin-top: 8px;
        color: $primaryRavenBlack;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .views-wrapper {
        display: flex;
        align-items: center;
        margin-top: 22px;
        gap: 5px;
        .eye-icon {
          width: 18.5px;
          height: 18.5px;
        }
        .num {
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
          color: $primaryRavenBlack;
        }
      }
    }
  }
}

@media screen and (max-width: 1062px) {
  .carousel-card {
    gap: 10px;
    .news-card {
      gap: 10px;
      .card-img {
        width: 100px;
      }
      .text-wrapper {
        .dates {
          font-size: 12px;
        }
        .news-text {
          font-size: 16px;
        }
        .views-wrapper {
          .eye-icon {
            width: 14px;
            height: 14px;
          }
          .num {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 662px) {
  .carousel-card {
    grid-template-columns: 1fr;
    .news-to-hide {
      display: none;
    }
  }
}
@media screen and (max-width: 550px) {
  .carousel-card {
    // grid-template-columns: 1fr;
    .news-to-hide {
      display: none;
    }
  }
}
// -----------news slider----------------
.dots-wrapper {
  margin-bottom: -15.5em;
}
