@import "./contactForm";
@import "./mapColumn";

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
  .section-wrapper {
    margin: 80px 0;
    width: 1284.5px;
    padding: 0 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5em;
  }
  @media screen and (max-width: 850px) {
    .section-wrapper {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 1285px) {
    .section-wrapper {
      width: 100%;
    }
  }
  @media screen and (max-width: 550px) {
    .section-wrapper {
      padding: 0 16px;
      margin: 40px 0;
    }
  }
}
