.contents-column {
    width: 100%;
  .section-heading {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    color: $primaryDarkBlue;
    margin-top: 0.7em;
    .highlight {
      color: $primarySkyBlue;
    }
  }
  // .contents-wrapper {
  //   margin-top: 1.5em;
   
  // }
}
