@import "./getAQuote";
@import "./sidebar/sidebar";

.header {
  .menu-items-cover {
    // width: 1197px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top-bar-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      background-color: #1f2b6c;
      .top-bar {
        color: #fcfefe;
        width: 1284.5px;
        padding: 0 45px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-item {
          width: 254px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .item {
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            text-align: left;
          }
          .divider {
            border: 1px solid #fcfefe;
            color: #fcfefe;
            height: 16px;
          }
        }
        .social-links {
          width: 128px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .icon {
            cursor: pointer;
            width: 16.66666603088379px;
            height: 16.625px;
            top: 1.666656494140625px;
            left: 1.66668701171875px;
          }
          .divider {
            color: #ffffffa9;
            height: 12px;
            border: 0.5px solid #fcfefea8;
          }
        }
      }
      @media screen and (max-width: 800px) {
        .top-bar {
          display: none;
        }
      }
    }
    .mid-bar-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      .items-wrapper {
        width: 1284.5px;
        padding: 0 45px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-section {
          width: 324px;
          height: 65px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: auto;
          .nmc-logo {
            width: 64px;
            height: 65px;
          }
          .company-name {
            cursor: context-menu;
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: #1f2b6c;
          }
        }
        @media screen and (max-width: 930px) {
          .left-section {
            width: max-content;
            height: auto;
            gap: 0.5em;
            .nmc-logo {
              width: 56px;
              height: 56px;
            }
            .company-name {
              cursor: context-menu;
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
        @media screen and (max-width: 450px) {
          .left-section {
            .nmc-logo {
              width: 46px;
              height: 46px;
            }
            .company-name {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
        .btns-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 45px;
          top: 13px;
          left: 788px;
          gap: 12px;
          .action-btn {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #1f2b6c;
            background: #bfd2f8;
          }
          .lab-btn {
            width: Hug (157px);
            height: Hug (45px);
            padding: 13px 35px 13px 35px;
            border-radius: 50px;
            gap: 10px;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
          }
          .appointment-btn {
            width: Hug (240px);
            height: Hug (45px);
            padding: 13px 35px 13px 35px;
            border-radius: 50px;
            gap: 10px;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        @media screen and (max-width: 800px) {
          .btns-wrapper {
            display: none;
          }
        }
        .toggle-icon {
          margin-left: 1.5em;
          color: $primaryDarkBlue;
          cursor: pointer;
          width: 27px;
          height: 27px;
          &:hover {
            color: $primaryYellow;
          }
        }
        @media screen and (min-width: 1299.5px) {
          .toggle-icon {
            display: none;
          }
        }
        @media screen and (max-width: 930px) {
          .btns-wrapper {
            gap: 5px;
            .action-btn {
              font-size: 12px;
              height: 40px;
              padding: 5px 25px;
              width: max-content;
            }
          }
          .toggle-icon {
            margin-left: 1.2em;
            width: 25px;
            height: 25px;
          }
        }
      }
      @media screen and (max-width: 500px) {
        .items-wrapper {
          padding: 0 15px;
        }
      }
    }
    .hr-line {
      width: 1193px;
      height: 1px;
      background: #5b5b5b;
      padding: 0 45px;
      // margin: 0 45px;
      // width: 1284.5px;
    }

    .bottom-bar {
      display: flex;
      width: 100%;
      justify-content: center;
      .nav-item-wrapper {
        display: flex;
        justify-content: space-between;
        height: 21px;
        margin: 16px 0;
        display: flex;
        top: 98px;
        left: 347px;
        gap: 24px;

        // ------------------------------------
        // .nav-item {
        //   cursor: pointer;
        //   color: #1f2b6c;
        //   font-size: 18px;
        //   font-weight: 400;
        //   line-height: 21px;
        //   letter-spacing: 0em;
        //   text-align: left;
        //   &:hover {
        //     color: $primaryYellow;
        //   }
        // }
        // .active-item {
        //   font-weight: 600;
        //   color: $primaryYellow;
        // }
        // -------------------------------------------------
        /* Dropdown Button */
        .dropbtn {
          display: flex;
          align-items: center;
          column-gap: 5px;
          background-color: transparent;
          width: max-content;
          color: $primaryDarkBlue;
          // padding: 16px;
          font-size: 16px;
          border: none;
          // z-index: 9999999;
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          cursor: pointer;
          // letter-spacing: 0em;
          // text-align: left;
          .caret-icon {
            margin-top: 3.8px;
            width: 12px;
            height: 12px;
          }
        }
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          // position: relative;
          display: inline-block;
          z-index: 9;
        }
        /* Dropdown Content (Hidden by Default) */
        .outer-wrapper {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          width: 1200px;
          height: max-content;
          padding-top: 1em;
          display: none;
          .dropdown-content {
            transition: 0.5s;
            border-radius: 10px;
            position: absolute;
            padding: 20px 3em;
            background-color: $primaryLiteBlue;
            // min-width: 100%;
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(103, 103, 103, 0.087);
            z-index: 1;
            // padding-bottom: 1em;
            // z-index: 9999999;
            .sublink-and-child {
              // min-width: max-content;
              width: max-content;
              // width: 100%;
              // height: max-content;
              font-weight: 400;
              text-decoration: none;
              display: block;
              // z-index: 9999999;
              // border-bottom: 1px solid black;

              .sublink {
                color: $primaryDarkBlue;
                // border-bottom: 1px solid $primaryDarkBlue;
                font-size: 14px;
                margin-bottom: 0.5em;
                font-weight: 500;
                cursor: pointer;
              }
              .child-link-wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .child-link {
                  font-size: 12px;

                  cursor: pointer;
                  color: $primaryDarkBlue;
                  &:hover {
                    color: rgba(50, 50, 50, 0.92);
                  }
                }
              }
            }
          }
        }
        /* Links inside the dropdown */

        /* Change color of dropdown links on hover */

        /* Show the dropdown menu on hover */
        .dropdown:hover .outer-wrapper {
          display: block;
          .dropdown-content {
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
          }
          // position: absolute;
          // top: 0;
          // left: 0;
          // width: 1100px;
          // margin-left: -10em;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
          color: $primaryYellow;
        }
        .active-item {
          // font-weight: 600;
          color: $primaryYellow;
        }
        // -------------------------------------------------
      }
    }
    @media screen and (max-width: 1299.5px) {
      .hr-line {
        display: none;
      }
      .bottom-bar {
        display: none;
        // width: 100%;
      }
    }
  }
}
