.contents-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  .section-heading {
    text-transform: capitalize;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    color: $primaryDarkBlue;
    // margin-top: 0em !important;
    .highlight {
      font-size: 36px;
      color: $primarySkyBlue;
    }
  }
  .floating-btn-row {
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
    width: max-content;
    align-self: flex-end;
    position: sticky;
    position: -webkit-sticky;
    z-index: 99;
    top: 3em;
    right: 0;
  }
  // .contents-wrapper {
  //   // margin-top: 3em !important;
  // }
  @media screen and (max-width: 550px) {
    .section-heading {
      font-size: 27px;
      .highlight {
        font-size: 27px;
      }
    }
    // .contents-wrapper {
    //   // margin-top: 1.5em !important;
    // }
  }
}
