.Carousel__Container-sc-hyhecw-0 {
  // margin-top: 60px;
  // width: 1315px;
  width: 1265px;
}
@media screen and (max-width: 1285px) {
  .Carousel__Container-sc-hyhecw-0 {
    width: 100%;
    padding: 0 0px;
  }
}

.inbound-carousel {
  margin-top: 60px;
}
